.key{
  cursor: pointer;
  width: 130px;
  height: 700px;
  border: .1px solid black;
  z-index: 10;

  &:hover{
    background-color: lightgrey;
}
  &:active{
    transform:translateY(-1px);
    box-shadow: 1px 1px 1px 1px;
    background-color: lightcoral;
  }

  &_white{
    background-color: #fff;
  }

  &_black{
    background-color: #000;
    position: relative;
    margin-left: -55px;
    margin-right: -55px;
    z-index: 100;
    height: 500px;
    width: 100px;
  }
}